@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Courier New", Courier, monospace;
}

.mesh {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(15, 118, 110);
  background-image: radial-gradient(
      at 21% 72%,
      rgb(71, 85, 105) 0,
      transparent 62%
    ),
    radial-gradient(at 35% 89%, rgb(244, 63, 94) 0, transparent 74%),
    radial-gradient(at 76% 69%, rgb(244, 63, 94) 0, transparent 94%),
    radial-gradient(at 33% 61%, rgb(254, 205, 211) 0, transparent 45%),
    radial-gradient(at 86% 64%, rgb(131, 24, 67) 0, transparent 79%),
    radial-gradient(at 6% 43%, rgb(59, 130, 246) 0, transparent 23%);
  background-attachment: fixed;
}

.mesh2 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-color: rgb(154, 52, 18);
  background-image: radial-gradient(
      at 57% 83%,
      rgb(233, 213, 255) 0,
      transparent 83%
    ),
    radial-gradient(at 30% 80%, rgb(2, 132, 199) 0, transparent 51%),
    radial-gradient(at 34% 7%, rgb(107, 114, 128) 0, transparent 97%),
    radial-gradient(at 45% 40%, rgb(251, 207, 232) 0, transparent 50%),
    radial-gradient(at 69% 65%, rgb(28, 25, 23) 0, transparent 2%),
    radial-gradient(at 88% 40%, rgb(245, 208, 254) 0, transparent 36%);
}

.typed {
  overflow: hidden;
  width: 0;
  animation: typing 1s steps(20, end) forwards;
  animation-delay: 2s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.logo {
  display: flex;
  flex-direction: row;
}

.cursor {
  background: #d4d4d8;
  line-height: 20px;
  margin-left: 3px;
  animation: blink 0.8s infinite;
  width: 10px;
  height: 2rem;
}

@keyframes blink {
  0% {
    background: #222;
  }
  50% {
    background: #d4d4d8;
  }
  100% {
    background: #222;
  }
}
